#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app_container{
  width: 40%;
  margin: 0 auto;
}

.center_element{
  position: relative;
  left: 22%;
}

.button{
  width: 150px;
}

.buttons{
}

.step_container{
  display: flex;
  flex-direction: column;
}